<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sgqn.clubonline.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.sgqn.clubonline.pojo.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userDetailId" column="user_detail_id" jdbcType="INTEGER"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="CHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
            <result property="personalSignature" column="personal_signature" jdbcType="VARCHAR"/>
            <result property="createDateTime" column="create_date_time" jdbcType="TIMESTAMP"/>
            <result property="updateDateTime" column="update_date_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_detail_id,email,
        password,avatar,nick_name,
        personal_signature,create_date_time,update_date_time,
        is_deleted
    </sql>
</mapper>
